body, html {
    /* height: 100%;
    width: 100%; */
    height: 100vh;
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
  }
  #body{
    overflow-x: hidden;
    padding: .5em;
    margin: 0;
  }
  
  .parallax {
    /* The image used */
    /* background-image: url('https://www.w3schools.com/howto/img_parallax.jpg'); */
    background-image: url('https://ajphnx.github.io/Resume/assets/ShirtSpread_001_sm_850W.png');
    /* background-image: url('./assets/Gradient_01.png'); */
    
    /* Full height */
    height: 100%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
    padding: .5em;
    margin: 0;
  }
  .p2{
      background-image: url('assets/Folded_Graphic_TSpread.jpg');
      background-repeat: no-repeat;
  }
  .p2 img{
      transform: rotate(90deg);
      width: 100vw;
  }
  .p3{
      background-attachment: fixed;
      background-image: url('assets/Gridwalker_WL_WHT_01.png');
      background-repeat: no-repeat;
      background-size: 1000px auto;
      margin-top: -250px;
      /* padding: .5em; */
    }
    .p4{
        background-attachment: fixed;
        background-image: url('assets/GrowTheBreath_T_WHT.png');
        background-repeat: no-repeat;
       background-size: 1000px auto;
       clip-path: polygon(50% 100%, 0% 100%, 0% 100%, 100% 0%);
        
    }
  .p5{
      background-attachment: fixed;
      background-image: url('assets/Gridwalker_glitch.gif');
      background-repeat: no-repeat;
     background-size: 815px auto;
     background-color: #fff;
    
     /* height: 350px; */
      /* padding: .5em; */
      width: 100vw;
      /* border: 1px solid red; */
  }
  #upper1{
      background-attachment: fixed;
      background-image: url('assets/Origins_AOP_BLK_HLS_FR.png');
      background-repeat: no-repeat;
     /* background-size: 1000px auto; */
      /* padding: .5em; */
      border-radius:0px 0px 0px 0px;
      
  }
  #upper2{
      background-attachment: fixed;
      background-image: url('assets/Origins_AOP_BLK_SH_BK.png');
      background-repeat: no-repeat;
      border-radius: 0px 0px 00px 0px;
      clip-path: polygon(0% 0, 100% 0%, 0% 100%, 0 80%);
      
    }
  #upper3{
      background-attachment: fixed;
      background-image: url('assets/SS-SB_LT_WHT_FR.jpg');
      background-repeat: no-repeat;
     /* background-size: 1000px auto; */
      /* padding: .5em; */
      border-radius:0px 0px 0px 0px;
  }
  #upper4{
      background-attachment: fixed;
      background-image: url('assets/SS-SB_LT_WHT_BK.jpg');
      background-repeat: no-repeat;
      border-radius: 0px 0px 00px 0px;
      
    }
    .color-grad-mult-inner {
    
        /* -webkit-animation: color-yl-wt 5s ease-in-out infinite; */
        /* animation: color-mlt-in 5s ease-in-out infinite; */
        /* animation: color-single-in 6s ease-in-out infinite; */
    }

    @keyframes color-single-in{  
        0% {border-top: 4px solid rgba(255, 246, 123, 0.575);} 
         /* box-shadow:inset 0px 0px 15px 2px  rgba(255,247,123,1),0px 0px 10px 2px  rgba(255,247,123,1);} */
        25% { border-top: 3px solid rgba(255,247,123,1);}
         /* box-shadow:inset 0px 0px 10px 3px  rgba(255,247,123,1),0px 0px 15px 3px  rgba(255,247,123,1);} */
        50%{ border-top: 1px solid rgba(255, 246, 123, 0.322); } 
            /* box-shadow:inset 0px 0px 15px 2px  rgba(255, 246, 123, 0.548),0px 0px 15px 1px  rgba(255, 246, 123, 0.534);   } */
        75% {  border-top: 4px solid rgba(255,247,123,1); }
            /* box-shadow:inset 0px 0px 10px 4px  rgba(255,247,123,1),0px 0px 15px 4px  rgba(255,247,123,1); } */
        85% { border-top: 2px solid rgba(255, 246, 123, 0.418);}
        /* box-shadow:inset 0px 0px 15px 2px rgba(255, 246, 123, 0.541),0px 0px 15px 2px  rgba(255, 246, 123, 0.493); } */
        100% { border-top: 4px solid rgba(255,247,123,1);}
        /* box-shadow:inset 0px 0px 15px 4px rgba(255, 246, 123, 0.541),0px 0px 15px 4px  rgba(255, 246, 123, 0.493); } */
      }
    
  .upperLayer{
      position: relative;
      /* box-shadow: 0px 0px 10px 5px #868686; */
      background-color: blue;
     width: 100%;
     height: auto;
  }
  .upperLayerTotes{
      position: relative;
      box-shadow: 0px 0px 10px 5px #868686;
      /* background-color: blue; */
     width: 100%;
     height: auto;
     border-radius: 50px 0px 50px 0px;
     padding: .5em;
     text-align: center;
  }
  #origins-header{
    position: absolute;
    right: 20%;
    top: 65%;
    font-size: 48pt;
    text-shadow: #fff;
  }
  #totes-header{
      font-size: 48pt;
      margin: 0;
  }
  .header{
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: none;
      top: 0px;
      left: 0;
      /* right:0; */
      height: 100px;
      width: 100vw;
      /* padding-top: 1em; */
      /* padding-right: 1em; */
      white-space: nowrap;
      /* margin: auto -.5em; */
      z-index: 3000;
      overflow: none;
      color: #868686;
      font-family: futura;
      font-size: 1em;
      text-align: center;
    align-items: start;
     background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    }
    .header img{
        width: 40px;
        height: auto;
        padding: 5px;
    }
    #tote-box img{
        width: 300px;
        height: auto;
        
        
    }
    #tote-box{
        position:absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex: 1;
        width: 100vw;
        border-radius: 50px 0px 50px 0px;
        /* border: 1px solid rgb(57, 49, 49); */
    }
    .footer{
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: none;
        bottom: 0px;
        left: 0;
        /* right:0; */
        height: 50px;
        width: 100vw;
        padding-top: 1em;
        /* padding-right: 1em; */
        white-space: nowrap;
        /* margin: auto -.5em; */
        z-index: 3000;
        overflow: none;
       background: rgb(255,255,255);
          background: linear-gradient(0deg, rgba(255,255,255,1) 44%, rgba(255,255,255,0) 100%);
      }